body {
	display: flex;
	background-color: black;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 10rem;
}

.letter {
	transition: color 1000ms;
}
